[submodule "baseos/hhd-adjustor"]
	path = baseos/hhd-adjustor
	url = https://github.com/hhd-dev/adjustor-copr
[submodule "baseos/hhd-ui"]
	path = baseos/hhd-ui
	url = https://github.com/hhd-dev/hhd-ui-copr
