# Lenovo Legion Go
ACTION=="add", ATTRS{idVendor}=="17ef", ATTRS{idProduct}=="6182", RUN+="/sbin/modprobe xpad" RUN+="/bin/sh -c 'echo 17ef 6182 > /sys/bus/usb/drivers/xpad/new_id'"

# Legion go specific quirk
# Disable accelerometer use from iio-sensor-proxy to avoid messing up the driver
# https://askubuntu.com/questions/803845/what-process-is-responsible-for-auto-screen-rotation-i-want-to-disable-it-on-1
# overrides /lib/udev/rules.d/80-iio-sensor-proxy.rules to disable using the accelerometer for orientation
KERNELS=="0020:1022:*", SUBSYSTEM=="iio", TEST=="in_accel_x_raw", TEST=="in_accel_y_raw", TEST=="in_accel_z_raw", ENV{IIO_SENSOR_PROXY_TYPE}=""
