# Razer USA, Ltd Razer Wolverine V2 Pro 2.4 Adapter; USB
KERNEL=="hidraw*", ATTRS{idVendor}=="1532", ATTRS{idProduct}=="100c", MODE="0660", TAG+="uaccess"
