# Arctis Pro Wireless
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="1290", MODE="0660", TAG+="uaccess"

# Arctis 7 2017
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="1260", MODE="0660", TAG+="uaccess"

# Arctis 7 2019
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="12ad", MODE="0660", TAG+="uaccess"

# Arctis Pro 2019
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="1252", MODE="0660", TAG+="uaccess"

# Arctis Pro GameDac
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="1280", MODE="0660", TAG+="uaccess"

# Arctis 9
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="12c2", MODE="0660", TAG+="uaccess"

# Arctis 1 Wireless
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="12b3", MODE="0660", TAG+="uaccess"

# Arctis 1 Xbox
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="12b6", MODE="0660", TAG+="uaccess"

# Arctis 7X
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="12d7", MODE="0660", TAG+="uaccess"

# Arctis 7 Plus
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="220e", MODE="0660", TAG+="uaccess"

# Arctis 7P Plus
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2212", MODE="0660", TAG+="uaccess"

# Arctis 7X Plus
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2216", MODE="0660", TAG+="uaccess"

# Arctis 7 Destiny Plus
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2236", MODE="0660", TAG+="uaccess"

# Arctis Nova 7
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2202", MODE="0660", TAG+="uaccess"

# Arctis Nova 7X
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2206", MODE="0660", TAG+="uaccess"

# Arctis Nova 7X v2
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2258", MODE="0660", TAG+="uaccess"

# Arctis Nova 7P
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="220a", MODE="0660", TAG+="uaccess"

# Arctis Nova 7 Diablo IV
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="223a", MODE="0660", TAG+="uaccess"

# Arctis Nova 5
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2232", MODE="0660", TAG+="uaccess"

# Arctis Nova 5X
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="2253", MODE="0660", TAG+="uaccess"

# Arctis Nova Pro Wired
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="1290", MODE="0660", TAG+="uaccess"

# Arctis Nova Pro Wireless
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="12cb", MODE="0660", TAG+="uaccess"

# Rival 5
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="183c", MODE="0660", TAG+="uaccess"

# Rival 3 Wireless
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1038", ATTRS{idProduct}=="1830", MODE="0660", TAG+="uaccess"

# Use Hidraw for Steelseries devices
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1038", TAG+="uaccess"
