# DrunkDeer G65
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="352d", ATTRS{idProduct}=="2382", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="352d", ATTRS{idProduct}=="2382", TAG+="uaccess"

# DrunkDeer A75/A75 Pro
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="352d", ATTRS{idProduct}=="2383", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="352d", ATTRS{idProduct}=="2383", TAG+="uaccess"

# DrunkDeer G60
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="352d", ATTRS{idProduct}=="2384", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="352d", ATTRS{idProduct}=="2384", TAG+="uaccess"
