[Desktop Entry]
Type=Application
Name=Nobara first login setup
Exec=/usr/bin/nobara-firstrun
Comment=Run on Nobara new user login
X-GNOME-Autostart-enabled=true
X-KDE-autostart-phase=0

