<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Nobara Project</vendor>
  <vendor_url>http://nobaraproject.org</vendor_url>

  <action id="org.nobaraproject.policykit.steamos.pkexec.run-automount">
    <description>Helper to auto mount partitions</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/nobara-automount</annotate>
  </action>
  <action id="org.nobaraproject.policykit.steamos.pkexec.run-nobara-config-tool">
    <description>Nobara Configuration Tool</description>
    <icon_name>package-x-generic</icon_name>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/nobara-config-tool</annotate>
  </action>
</policyconfig>
