[Unit]
Description=NVIDIA Persistence Daemon
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/nvidia-persistenced --user nvidia-persistenced
ExecStopPost=/bin/rm -rf /var/run/nvidia-persistenced/*

[Install]
WantedBy=multi-user.target
